@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  height: 100%;
  width: 95vw;
  font-family: Rubik, sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:  #0f1424;
  color: #bdc1ff;
  padding: 40px 20px;
}
